*{
  padding: 0;
  margin: 0;
  }
body{
  background: #272727;
  font-family: 'Roboto', sans-serif;
}
#title{
  font-size: 60px;
  color: #fff;
  padding: 20px;
  display: inline-block;
}
.classtime {
    font-size: 15px;
    color: #888;
    padding: 10px 20px 10px 20px;
}
a{
  font-size: 20px;
  color: #fff;
  padding: 18px;

}
.item{
  font-size: 20px;
  color: #888;
  padding: 20px;
}
.price{
  color: #4286f4;
}
.youhave{
  color: #4286f4;
}
.youhaveTime{
  color: #4286f4;
}
.youhaveClass{
  color: #4286f4;
}
.classtimenext {
    font-size: 15px;
    color: #777;
    padding: 0px 20px 0px 20px;
}
#timetext{
  font-size: 26px;
  color: #fff;
  padding: 2px 20px 2px 20px;
  display: inline-block;
}
textarea{
  font-size: 20px;
  padding: 20px;
  margin: 20px;
  width: 90%;
}
p{
  font-size: 30px;
  color: #888;
  padding: 20px;
}

.noschool {
  display: none;
}
#noschool{}
button{
  font-size: 20px;
  color: #ff6363;
  padding: 20px;
}
#showDay{
  display: none;
}
img{
    width: 30%;
}
.fas{
  font-size: 22px;
}
.icone{
  display: block;
}
.men{
  display: inline-block;
}
#debug{
  color: #d74848;
}


.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
}
.switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}
input[type='checkbox']:checked + .switch::after {
  transform: translateX(20px);
}
input[type='checkbox']:checked + .switch {
  background-color: #d74848;
}
.offscreen {
  position: absolute;
  left: -999999999999px;
}
.sidenav {
  /* height: 100%; */
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343434;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.settingstxt{
  font-size: 20px;
    color: #888;
    padding: 16px;
    display: inline-block;
}
@media screen and (min-width: 799px) and (max-width: 230483px) {
    html {
        display: none;
    }
    /* hide it elsewhere */
}
